@charset "UTF8";
*{
    margin: 0;
    padding: 0;
}
header{
    width: 500px;
    color:white;
    text-align: center;
}
body{
    background: rgb(0, 110, 255);
    font: normal, arial;
    max-width:1300px;
    min-width: 300px;
}


section{
    width: 500px;
    background: white;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 5px 5px 10px black;
    text-align: center;
}
div{
    text-align: center;
    padding: 8px;
}
#relogio {
    color: red;
    text-decoration: underline;
    text-transform: uppercase;
}
footer{
    width: 500px;
    color: white;
    text-align: center;
    font-style: italic;
    font-size: 17px;
}

footer a{
    color: white;
    text-decoration: none;
}
a:hover{
    cursor: pointer;
    text-decoration: underline;
}
