@charset "UTF8";
*{
    margin: 0;
    padding: 0;
}

header{
    max-width: 1500px;
    height: 200px;
    color: blue;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    
}

body{
    background: rgb(0, 110, 255);
    font:  arial;
    max-width: 1200px;
    min-width: 300px;
    margin-top: 10px;
    

  
}
#imagem{
    align-items: center;
    padding-top: 50px;
}


.relogio { 
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    height: 150px;
    width: 500px;
    background-color: transparent;
    border-radius: 3px;
    box-shadow: 5px 8px 8px black;  
    margin: 20px 0px;
    
   
    
}
@media(max-width: 700px){
    
    header{width: 400px; align-items: center; text-align: center; margin-left: 30px; }
    .relogio div{ align-items: center; justify-content: center;}
}
.relogio div{
    height: 120px;
    width: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: rgba(5, 5,5,.9);
    box-shadow: 5px 5px 15px rgba (0,0,0,.7);
    border-radius: 7px;
    letter-spacing: 3px;
    
}
.relogio span{
    font-weight: bold;
    font-size: 40px;

}
#tempo{
    font-size: 10px;
}

    
picture{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 50px;
    max-width: 1200px;
    min-width: 300px;
    margin-right:10px;
    margin-top: 200px;
        
}
picture h1{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    color: white;
    font-size: 2.5rem;
    margin-top: 30px;
    
    
}

picture ul{
    margin-right: 15px;
    align-items: center;
    display: flex;
    justify-content: space-around;
    
    
}
picture li{
    padding-top: 25px;
    margin-right: 15px;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-position: center;
}
.manha{
    width: 250px;
    height: 300px;
    background-color: #CAB8A1;
}
.madrugada{
    width: 250px;
    height: 300px;
    background-color: #023059;
}
.meio{
    width: 250px;
    height: 300px;
    background-color:#F2D230 ;
}
.tarde{
    width : 300px;
    height: 300px;
    background-color: #D99F59;
}
.noite{
    width: 250px;
    padding-top: 15px;
    height: 300px;
    background-color: #515154;
}
picture img{
    padding: 15px;
    width: 250px;
    height: 180px;
}
@media(max-width: 700px){
    .relogio{
        display: flex;
        justify-content: space-around;
        width: 100%;
        align-items: center;
    }
    .relogio div{
        width: 100px;
        align-items: center;
        
    }
    picture ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-top: 15px;}
    picture li{
        display: flex;
        align-items: center;
        padding: 15px;
        margin-top: 20px;
        text-align: center;
    }
    Picture {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;}
}
footer{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 35px;
    height: 300px;
    color: white;
    text-align: center;
    font-style: italic;
    
}
footer p{
    color: white;
    font-size: 1.1rem;
}

footer a{
    color: white;
    text-decoration: none;
    
}
footer li i{
    font-size: 3rem;
}
a:hover{
    cursor: pointer;
    text-decoration: underline;
}
